h1{
 text-align: center;
}
ul{list-style-type:none
  margin: 0;
  padding: 0;
  overflow:hidden;
  background-color:#800020 ;
}
li{
  display:inline-block;
  margin-right: 20px;
}
li a{
  display: block;
  color: #F5F5DC;
  text-align: center;
  padding: 20px 25px;
  text-decoration: none;
  font-weight: bold
}
.card img{
  width: 300px;
  max-width: 300px;
  height: 250px;
  margin: 0 auto;
  border-radius: 8px;
  display: block;
  object-fit: cover;
  margin:-bottom:10px;
}
.caption{
  margin-top: 10px;
  font-size: 18px;
  color:#333;
}
.card{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom:30px ;
}
p{
  font-weight:bold;
}
body{
  background-color: #f2e7d5;
}
