* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}
body{
    background-color: #fff8e7;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    position: absolute; 
    width: 100%;
    z-index: 1000;
    background: transparent;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

.logo .COOK {
    color: #ffffff; 
}

.logo .ING {
    color: #990000; 
}


.pages ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.links {
    display: flex;
    gap: 20px;
}

.links li a {
    text-decoration: none;
    color: #e3e3e3;
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
    transition: 0.3s;
}

.links li a:hover, .links li a.active {
    color: #990000;
}

.nav-icons {
    fill: currentColor; 
}

 .theme-btn {
    background: #990000;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 15px;
    transition: 0.3s;
}

.theme-btn:hover {
    background: #cc0000;
}

footer{
    text-align: center;
    background-color: #990000;
    color: white;
    font-size: 50x;
    height: 100px; 
    padding-top:30px ;
    
}


.menu-btn {
    display: none;
}
.description {
    background:url("foodcomparisonphoto.jpg"); 
    
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:white;
}

.description h1 {
    font-size:50px; 
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}
 .description p{
    font-size: large;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    font-weight: bold;
    color:white ;
    
 }



.selection {
    padding: 50px 20px;
    text-align: center;
    background: #fff8e7;
    margin-top: -50px; 
    border-radius: 15px;
    position: relative;
}

select {
    padding: 12px;
    width: 200px;
    border: 2px solid #990000;
    border-radius: 5px;
    margin: 10px;
    outline: none;
    background-color: #ffa8a843;
    color: #550606;
    font-weight:bold ;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:18px;
    
}

button[type="submit"] {
    padding: 12px 30px;
    background-color: #990000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}




#foodcomparisonimages {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
}

#vs {
    font-size: 2rem;
    font-weight: 900;
    color: #990000;
    font-style: italic;
}


#table-result {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto 50px auto;
    
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    border-radius: 10px;
    overflow: hidden;
}

th {
    background-color: #990000;
    color: white;
    padding: 15px;
    font-size: 18px;
}

td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #eee;
    color: #990000;
        
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ; 
}

tr:nth-child(even) {
    background-color:#ffa8a824
}
  header.head{
            min-height: 50vh;
    background-image: url(pngtree-top-4k-hd-food-wallpapers-for-social-media-picture-image_16320578.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
    background-repeat: no-repeat;
    padding:  60px 20px ;
    text-align: center;
    color: #990000;
}
 h2.recipe-titel{
    font-family: playfair dispiay ,serif;
    color: #990000;
    text-align: center;
    margin-top: 60px;
}
div.container{
    max-width: 100%;
    margin: 20x auto;
    background: #fff8e7;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0,0.5);
    flex: 1;
    display: block;
}

 img.img{
    display: block;
    margin: 20px auto;
    border-radius: 12px;
    border: 3px solid #990000;
    transition:transform 0.3s ease;
    max-width: 100%;
    width: 80%;
}
img.img:hover{
    transform: scale(1.25);
}
ul.Ingrediants,ol.Steps{
    display: table;
    margin: 0 auto;
    text-align: left;
    padding-bottom: 20px;
}
table.nutrition-table{
    margin: 20px auto;
    border-collapse: collapse;
    width: 60%
    text-align:center;
    border:solid;
}
table.nutrition-table td{
    padding: 10px;
    border-bottom: 1px solid #d2b48c;
}
hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient( to right,transparent,#990000,transparent);
    margin: 40px 0;
}
p.description{
    font-family: 'playfair display', serif;
    font-size: 25px;
    font-style: italic;
    color:#990000 ;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
    
}
p.time{
    font-family: 'liber Baskerville',serif;
    font-size: 23px;
    font-style: italic;
    color: #990000;
    font-weight: 400;
    display: block;
    margin-top: 5px;
}
div.recipe-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border: 5px solid #ddd;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    background-color: #f5f5dc;
    max-width: 800px;
    margin: 20px auto;
}
div.recipe-content{
    flex: 1;
    font-family: Verdana, Geneva, Tahoma, serif;
    color: #990000;
}
img.img{
    width: 300px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;}

    h1{text-align: center;
        margin-bottom: 50px;
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;

    }