*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
:root{
    --main-color:rgb(2, 230, 32);
    --nav-color:rgb(25, 25, 35)
}
body{
    width: 100%;
    height: 100vh;
}
nav{
    background-color: var(--nav-color);
    display: flex;
    justify-content: space-between;
    min-height:10%;
    width: 100%;
    position: sticky;
    top: 0%;
}
.theme-btn{
    position: absolute;
    padding: 8px 15px;
    right: 45%;
    width: 100px;
    height: 33px;
    top: 1em;
    border-radius: 5px;
    background-color: var(--nav-color);
    cursor: pointer;
    color: #eee;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
}
.theme-btn:hover,.menu-btn:hover{
   
    transform: scale(1.05);
}
.logo {
    font-family: fantasy;
    font-size: 32px;
    margin-top: 10px;
    margin-left: 10px;
}
.COOK{
    color: #eee;
}
.ING{
    color: var(--main-color);
}
.pages{
    order: 1;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: column;
}
ul li{
    width: 100%;
    display: flex;
    flex-direction: column; 
}
.menu-btn{
    background-color: var(--nav-color);
    cursor: pointer;
    width: 100px;
    margin:15px;
    position: relative;
    justify-self: center;
}
.hide{
    display:none;  
}
.nav-icons{
margin-right: 3px;
}
ul li a{
    text-decoration: none;
    color:white;
    font-size: 20px;
    border-top:#eee 1px solid ;   
    border-left:#eee 1px solid ;   
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    align-items:center ;
    transition: 0.5s;
    border-radius: 10px;
    margin-bottom: 5px;
}
ul li a:hover{
    background-color: var(--main-color);
}
.active{
    background-color:var(--main-color);
}
/*Ziad mahmoud Edit*/
body{
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.3)),url('photo.jpg');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    background-attachment:fixed;
    height:100nv;
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.gaga{
    text-align: center;
    background-color:rgba(162, 173, 173, 0.7);
    margin-top:80px;
    padding:20px 100px;
    border-radius:10px;
}
.gaga h1{
    display:block;
    width:100%;
    background:black;
    -webkit-background-clip: text;
    background-clip:text;
    color:transparent;
    margin-bottom:55px;
}
.gaga p{
    display:block;
    background:#37576b;
    color:white;
    padding:10px 40px;
    border-radius:10px;
    display:inline-block;
    font-size:20px;
}
form{
    background-color:rgba(162, 173, 173, 0.7);
    margin-top:40px;
    padding:15px 40px;
    border-radius:10px;
    text-align: center;
}
.arbus label{
    background:black;
    -webkit-background-clip:text;
    background-clip:text;
    color:transparent;
    display:block;
    margin-bottom:10px;
    margin-top:30px;
    font-size:20px;
}
#email{
    border-radius:50px;
    margin-bottom:30px;
    padding:10px 30px;
    content:20px 40px;
    font-size:18px;
    background-color:rgba(252, 248, 246, 0.541)
}
.faah label{
    background:black;
    -webkit-background-clip:text;
    background-clip:text;
    color:transparent;
    display:block;
    margin-bottom:10px;
    margin-top:10px;
    font-size:20px;
}
#password{
    border-radius:50px;
    margin-bottom:30px;
    padding:10px 30px;
    content:20px 40px;
    font-size:18px;
    background-color:rgba(252, 248, 246, 0.541)
}
button{
    padding: 5px 15px;
    background-color:#37576b;
    font-size:17px;
}
.gogo{
    font-size:18px;
    background-color:rgba(70, 61, 61,0.5);
    margin-top:10px;
}




